@import '../../assets/styles/color.scss';

.task-item-container {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  background-color: $color-grey-dark;
  padding: 1.5rem;
  outline: none;

  h3 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .assigne-tags {
      display: flex;
      .task-assigne {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 1.4rem;
        margin-right: 1rem;
        text-transform: uppercase;
      }

      .task-tag {
        color: #ffffff;
        background-color: $color-primary;
        font-size: 1.4rem;
        padding: 0.3rem 1.2rem;
        border-radius: 1.2rem;
      }
    }

    .task-days {
      font-size: 1.4rem;
    }
  }
}
