@import '../../assets/styles/color.scss';

.layout-container {
  width: 100%;
  height: 100vh;
  display: flex;

  .menu-container {
    width: 20%;
    height: 100vh;
    background-color: $color-primary;
    padding: 3rem 2rem;
    position: relative;

    h3 {
      position: absolute;
      bottom: 1.5rem;
      font-size: 1.4rem;
    }

    .name-container {
      display: flex;
      align-items: center;
      margin-bottom: 3.5rem;

      img {
        width: 7rem;
        border-radius: 50%;
        margin-right: 1.5rem;
      }

      .name-wrapper {
        p {
          font-size: 1.8rem;

          &:first-child {
            font-size: 2rem;
            color: #ffffff;
          }
        }
      }
    }

    .task-count-container {
      h2 {
        font-size: 2.4rem;
        color: $color-grey;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }
    }
  }

  .main-container {
    width: 80%;
    height: 100vh;
    padding: 3rem 2rem 1rem;

    .main-header {
      .header-title {
        display: flex;
        align-items: center;

        img {
          width: 4rem;
          margin-right: 0.5rem;
        }

        h1 {
          font-size: 2.8rem;
          font-weight: 700;
        }
      }
    }

    .main-section {
      display: flex;
      width: 100%;
      margin-top: 2.5rem;
      overflow-x: auto;
    }

    footer {
      padding-top: 2rem;

      h3 {
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    opacity: 0;
    // transform: translateX(-100px);
    transition: all 500ms ease-in-out;

    &.ReactModal__Overlay--after-open {
      opacity: 1;
      // transform: translateX(0px);
      background-color: rgba(0, 0, 0, 0.5) !important;

      .ReactModal__Content.ReactModal__Content--after-open {
        width: 45rem;
        // position: relative;
        left: 50% !important;
        transform: translateX(-50%);

        .header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2.5rem;

          h2 {
            font-size: 2rem;
          }
        }

        form {
          .field {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            h3 {
              font-size: 1.6rem;
              font-weight: 700;
              margin-bottom: 0.8rem;
            }

            input {
              height: 2rem;
              padding: 1.8rem 1.5rem;
              border-radius: 0.8rem;
              border: 1px solid $color-primary;

              &:focus {
                outline: none;
              }
            }
          }

          .button-container {
            margin-top: 3rem;

            button {
              width: 10rem;
              height: 4rem;
              border-radius: 0.8rem;
              border: none;
              outline: none;
              background-color: $color-primary;
              color: #ffffff;
              cursor: pointer;

              &.cancel-btn {
                margin-right: 1rem;
                background-color: transparent;
                color: $color-black;
                border: 1px solid $color-primary;
              }
            }
          }
        }
      }
    }

    &.ReactModal__Overlay--before-close {
      opacity: 0;
      // transform: translateX(-100px);
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .layout-container {
    .menu-container {
      display: none;
    }

    .main-container {
      width: 100%;
    }
  }
}
